section#lobby
  div.row
    div.span9
      div#game-management
        form(id="newGameForm", action="/game", method="post")
          input(id="new-game",  placeholder="Enter game name...", type="text", name="gameName")
          button(type='submit', class='btn primary') Create New Game
        div#games-available

    div.offset1.span6
      div#leaderboards
        div#tabs.clearfix
          div#wins-tab.tab.selected Victories
          div#points-tab.tab Points
        div#wins-list
          - var i = 1
          - topVictories.forEach(function(leader) {
            div.row
              span.place #{ i }.
              img(src='http://graph.facebook.com/#{ leader.fb.id }/picture')
              span.name #{ leader.fb.name.full } 
              span.wins [#{ leader.victories }]
              - i = i + 1
          -})
        div(style='display: none;')#points-list
          - var i = 1
          - topPoints.forEach(function(leader) {
            div.row
              span.place #{ i }.
              img(src='http://graph.facebook.com/#{ leader.fb.id }/picture')
              span.name #{ leader.fb.name.full } 
              span.wins [#{ leader.points }]
              - i = i + 1
          -})


//ICanHaz Templates
script(id="game", type="text/html")
  span.game-name {{gameName}}
  span
    button(class='btn primary') Join
  span.players {{#fbIds}}<img src="http://graph.facebook.com/{{.}}/picture">{{/fbIds}}

//bootstrap collection
script
  $(document).ready(function() {
  
  $.get('/games', function(data) {
       App.gamesView.addAll(data);
  });
  //$("#gamesTable").tablesorter();
  
  var pusher = new Pusher('f6cbbef2da8723374cb3');
  var channel = pusher.subscribe('gameList');
  channel.bind('incrementEvent', function(conditions) {
    var gameId = conditions.id;
    var gameModel = App.games.get(gameId);
    if (gameModel) {
       var currentPlayers = gameModel.get("numPlayers");
       gameModel.set({fbIds: conditions.fbIds});
       gameModel.set({numPlayers: currentPlayers+1});
    } else {
      var gameModel = new Game(conditions);
      App.games.add(gameModel);
      App.gamesView.addOne(gameModel);
    }
    });
    channel.bind('markInactiveEvent', function(conditions) {
      var gameModel = App.games.get(conditions._id);
      if (gameModel) {
         App.gamesView.remove(gameModel);
      }
    });
    // channel.bind('newGameEvent', function(conditions) {
    //   console.log("new game event");
    //   var gameModel = new Game(conditions);
    //   App.gamesView.addOne(gameModel);
    // });
    });
